<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lemonlabs.in.savelife" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" ></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" >  </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SMSService" android:exported="false"/>

        <receiver android:name=".IncomingSms">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <uses-permission android:name="android.permission.CAMERA" />

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

        <activity
            android:name=".PhotoCapture"
            android:label="@string/title_activity_photo_capture"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activateOTP"
            android:label="@string/title_activity_activate_otp"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AccReportMenu"
            android:label="@string/title_activity_acc_report_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AccReport"
            android:label="@string/title_activity_acc_report"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".VerifyOTP"
            android:label="@string/title_activity_verify_otp"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
